.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.appointment-add-container {
  width: 90%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 60px;
}

.appointment-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}

.appointment-container {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.title {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 13px;
}

.title-input {
  padding: 8px;
  font-family: 'Roboto';
  color: #b5b7c4;
  font-size: 13px;
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  margin-top: 0;
}

.date {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 13px;
  margin-top: 30px;
}

.date-input {
  padding: 8px;
  font-family: 'Roboto';
  color: #171f46;
  font-size: 13px;
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  margin-top: 0;
}

.button {
  background-color: #8b5cf6;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 8px;
  width: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.image {
  height: 250px;
  width: 350px;
}

.line {
  color: #b5b7c4;
  width: 100%;
  height: 3px;
}

.appointments {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.star-button {
  background: transparent;
  border: 1px solid #8b5cf6;
  border-radius: 13px;
  height: 28px;
  padding-left: 13px;
  padding-right: 13px;
}

.all-appointments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
